* {
    padding: 0;
    margin: 0;
    color: #658ec6;
}

body {
    background-color: #6BDBE8;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;
    background: linear-gradient(to right bottom, #ffffff70, #ffffff80);
    font-size: 1em;
    padding: 10px 50px;
    border-radius: 10px;
    margin: 10px;
    width: fit-content;
}

.hide {
    display: none;
}

.glass-box {
    /* margin-top: 100px; */
    width: 60vw;
    background: linear-gradient(to right bottom, #FFFFFF70, #ffffff30);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    height: 80vh;
    padding: 25px;
    backdrop-filter: blur(15px);
}

.title {
    text-align: center;
    font-size: 1.5rem;
}

.textboxes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.textbox,
.gender-select {
    background-color: white;
    height: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 150px;
    font-size: 1rem;
}

.textbox:hover,
.gender-select:hover {
    border-bottom: .1rem solid #2071e2;
}

::placeholder {
    color: #658ec6;
}

.gender-select {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.arrow {
    height: 12px;
}

.avatar img {
    height: 200px;
    border-radius: 5px;
}

ul {
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 5px;
    background-color: #ffffff9c;
    overflow: hidden;
}

li {
    list-style: none;
    display: flex;
    width: 150px;
    height: 20px;
    gap: 20px;
    padding: 12px 20px;
    align-items: center;
}

li:hover {
    background-color: #ffffff9c;
    box-shadow: 0 0 50px #46464641;
    cursor: pointer;
}

.options img {
    height: 24px;
}

#arrow {
    transform: rotate(0deg);
}


/* button */

#svgTag {
    height: 50px;
    width: 160px;
    border-radius: 25px;
}

.btn {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 20px;
    font-size: 1em;
    line-height: 50px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn span {
    color: #2071e2;
    ;
}

.btn svg rect {
    stroke: #2071e2;
    opacity: 0.6;
    stroke-width: 2;
    stroke-dasharray: 150, 0;
    /* stroke-dashoffset: 0; */
    /* -webkit-transition: all 600ms ease; */
    transition: all 600ms ease;
}

.btn:hover svg rect {
    stroke-width: 2;
    stroke-dasharray: 50, 600;
    stroke-dashoffset: 443;
}

.circle-1 {
    height: 300px;
    width: 300px;
    background-color: white;
    opacity: 40%;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 150px;
    z-index: -1;
    /* filter: blur(4px); */
}

.circle-2 {
    height: 300px;
    width: 300px;
    background-color: white;
    opacity: 40%;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    right: 150px;
    z-index: -1;
    /* filter: blur(4px); */
}

@media screen and (max-device-width: 750px) {
    .title {
        font-size: 1rem;
    }
    .textbox,
    .gender-select {
        width: 100px;
        font-size: small;
    }
    .glass-box {
        width: 60vw;
        height: 85vh;
    }
    ul {
        width: 140px;
    }
    .circle-1 {
        height: 200px;
        width: 200px;
        top: 220px;
        left: 0px;
    }
    .circle-2 {
        height: 200px;
        width: 200px;
        top: 40px;
        right: 0px;
    }
    .avatar img {
        height: 150px;
    }
    .success {
        font-size: 0.8rem;
        right: 50px;
    }
}

@media screen and (max-device-width: 500px) {
    .textboxes {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    .glass-box {
        width: 100%;
    }
    .success {
        font-size: 0.8rem;
    }
}