@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


/* Styling Nav Bar */

nav {
    padding: 0 10%;
    height: 75px;
    background-color: #181e25;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: #fff;
    font-size: 20px;
}

.nav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.login {
    background-color: rgb(0, 116, 56);
    color: white;
}

.register {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.nav-btns a {
    color: white;
}

hr {
    width: 80%;
    margin: 0 auto;
}


/* Register Starts */

.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    margin: 100px auto;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    box-shadow: #4093ec7c 0px 0px 50px;
}

.register-box h2 {
    font-size: 35px;
    text-align: center;
}

.register-box label {
    font-size: 20px;
    margin: 5px 0;
}

.register-box p {
    font-size: 20px;
    margin: 5px 0;
}

.register-box .txtbx {
    height: 40px;
    width: auto;
    padding: 0 10px;
    border: none;
    margin: 10px 0;
    font-size: 20px;
    border-bottom: #838282 1px solid;
}

.register-box .gender-options,
.register-box .quali-options,
.register-box .course-options {
    display: flex;
    gap: 40px;
}

.register-box .gender-options input,
.register-box .quali-options input,
.register-box .course-options input {
    height: 15px;
    width: 15px;
    margin: 0 5px;
}

.register-box .country-options {
    margin-top: 10px;
    width: 250px;
    height: 40px;
}

.conditions {
    margin: 10px 0;
}

.conditions li {
    font-size: 16px;
    margin: 5px 0;
}

.agree {
    font-size: 18px !important;
}

.conditions li {
    list-style: number;
    margin-left: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.registered {
    background-color: rgb(0, 116, 56);
    color: white;
}

.error {
    color: red;
}


/* Footer Starts */

footer {
    /* height: 60vh; */
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 80px auto;
    /* margin-top: 80px; */
}

footer .menus {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

footer h3 {
    font-size: 22px;
    color: #4094ec;
}

footer a {
    color: #3d3d3d;
    font-size: 18px;
}

li {
    list-style: none;
}

footer .left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.left h2 {
    font-size: 40px;
    line-height: 120%;
}